name: CI

on:
  pull_request:
    branches: [dev, staging, main]
  push:
    branches: [dev, staging, main]

jobs:
  quality-checks:
    name: Quality Checks
    uses: ./.github/workflows/quality-checks.yml

  build:
    name: Build
    runs-on: ubicloud-standard-2

    steps:
      - uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build
        run: bun run build
